[phases.setup]
nixPkgs = [
    "python311",
    "gcc",
    "gfortran",
    "ffmpeg"
]

[phases.install]
cmds = [
    "python3.11 -m venv .venv",
    ". .venv/bin/activate && pip install -U pip",
    ". .venv/bin/activate && pip install torch==2.2.0 torchaudio==2.2.0 --index-url https://download.pytorch.org/whl/cpu",
    ". .venv/bin/activate && pip install -r requirements.txt"
]

[phases.build]
cmds = []

[start]
cmd = ". .venv/bin/activate && uvicorn app.main:app --host 0.0.0.0 --port $PORT"
